<wsdl:definitions
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://ws/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        targetNamespace="http://ws/"
        name="TarefasWS">
    <wsdl:documentation>
        Documento de deinifição do WebService Tarefas.
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema version="1.0" targetNamespace="http://ws/">
            <xsd:element name="tarefasRequest" type="tns:tarefasRequest" />
            <xsd:element name="tarefasResponse" type="tns:tarefasResponse" />
            <xsd:complexType name="tarefasRequest">
                <wsdl:documentation>
                    Definiçção do request da listagem de tarefas
                </wsdl:documentation>
                <xsd:sequence>
                    <xsd:element name="argumento" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="tarefasResponse">
                <wsdl:documentation>
                    Definiçção do response, listando as tarefas ativdas em XML
                </wsdl:documentation>
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="tarefaRequest" type="tns:tarefaRequest" />
            <xsd:element name="tarefaResponse" type="tns:tarefaResponse" />
            <xsd:complexType name="tarefaRequest">
                <wsdl:documentation>
                    Definiçção do request, passando o id da tarefa como parametro
                </wsdl:documentation>
                <xsd:sequence>
                    <xsd:element name="codigo" type="xsd:string" minOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="tarefaResponse">
                <wsdl:documentation>
                    Definiçção do response, retornando a tarefa pesquisa por XML
                </wsdl:documentation>
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="inserirTarefa" type="tns:inserirTarefa" />
            <xsd:complexType name="inserirTarefa">
                <wsdl:documentation>
                    Definiçção do request(one-way) para inserir uma nova tarefa
                </wsdl:documentation>
                <xsd:sequence>
                    <xsd:element name="descricao" type="xsd:string" minOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="string" type="xsd:string" minOccurs="0" />
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="tarefasRequest">
        <part name="parameters" element="tns:tarefasRequest" />
    </wsdl:message>
    <wsdl:message name="tarefasResponse">
        <part name="parameters" element="tns:tarefasResponse" />
    </wsdl:message>
    <wsdl:message name="tarefaRequest">
        <part name="parameters" element="tns:tarefaRequest" />
    </wsdl:message>
    <wsdl:message name="tarefaResponse">
        <part name="parameters" element="tns:tarefaResponse" />
    </wsdl:message>
    <wsdl:message name="inserirTarefa">
        <part name="parameters" element="tns:inserirTarefa" />
    </wsdl:message>
    <wsdl:portType name="WSListaTarefas">
        <wsdl:operation name="tarefas">
            <wsdl:input message="tns:tarefasRequest" />
            <wsdl:output message="tns:tarefasResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="WSGetTarefa">
        <wsdl:operation name="tarefa">
            <wsdl:input message="tns:tarefaRequest" />
            <wsdl:output message="tns:tarefaResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="WSInserirTarefa">
        <wsdl:operation name="inserirTarefa">
            <wsdl:input message="tns:inserirTarefa" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TarefasPortBinding" type="tns:WSListaTarefas">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
                      style="document" />
        <wsdl:operation name="tarefas">
            <soap:operation soapAction="http://localhost:9000/services/tarefas" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TarefaPortBinding" type="tns:WSGetTarefa">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
                      style="document" />
        <wsdl:operation name="tarefa">
            <soap:operation soapAction="http://localhost:9000/services/tarefa" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="inserirTarefaPortBinding" type="tns:WSInserirTarefa">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
                      style="document" />
        <wsdl:operation name="inserirTarefa">
            <soap:operation soapAction="http://localhost:9000/services/inserirtarefa" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WSTarefasService">
        <wsdl:port name="WSTarefasPort" binding="tns:TarefasPortBinding">
            <soap:address location="http://localhost:9000/services/tarefas" />
        </wsdl:port>
        <wsdl:port name="WSTarefaPort" binding="tns:TarefaPortBinding">
            <soap:address location="http://localhost:9000/services/tarefa" />
        </wsdl:port>
        <wsdl:port name="WSInserirTarefaPort" binding="tns:inserirTarefaPortBinding">
            <soap:address location="http://localhost:9000/services/inserirtarefa" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>