@(tarefas: List[Tarefas])
@import helper._
@import java.util.Date

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/assets/stylesheets/materialize.css">
        <link rel="stylesheet" href="/assets/stylesheets/main.css">

        <title></title>
    </head>
    <body>
        <div class="container">
            @main("Tarefas"){
                <div class="row">
                    <div class="col s6">
                        <h1>
                            Lista de tarefas
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <ul class="collection">
                        @if(tarefas.isEmpty()){
                            <li class="collection-item">
                                <span class="flow-text">Nenhuma Tarefa</span>
                            </li>
                        }
                        @for(item <- tarefas){
                            <li class="collection-item" style="border-bottom: none">
                                <div class="col s12">
                                    @form(routes.TarefasController.modificar(item.getId)) {
                                        <span id="tarefaId" name="tarefaId" style="display: none">@item.getId</span>
                                        <div class="input-field col s6">
                                            <input type="text"
                                                   class="flow-text tarefa"
                                                   name="tarefaDescricao"
                                                   id="tarefaDescricao"
                                                   value="@item.getDescricao" readonly>
                                        </div>
                                        <div class="input-field col s3">
                                            @if(item.getPrazo != null){
                                                <input type="date"
                                                       class="datepicker tarefa "
                                                       name="tarefaPrazo"
                                                       id="tarefaPrazo"
                                                       value='@item.getPrazo.format("yyyy-MM-dd")' readonly />
                                            } else {
                                                <input type="date"
                                                       class="datepicker tarefa "
                                                       name="tarefaPrazo"
                                                       id="tarefaPrazo"
                                                       value="" readonly />
                                                }
                                        </div>
                                        <div class="input-field col s1">
                                            <div class="secondary-content">
                                                <button type="button" class="waves-effect waves-teal btn-flat modificar" id="modificar" name="modificar">
                                                    <i class="material-icons">update</i>
                                                </button>
                                            </div>
                                        </div>
                                    }
                                    <div class="input-field col s1" style="padding-top: 7px;">
                                        <a href='/tarefas/@item.getId/detalhes' class=""><i class="material-icons">list</i></a>
                                    </div>
                                    <div class="input-field col s1">
                                        @form(routes.TarefasController.remover(item.getId)) {
                                            <div class="secondary-content">
                                                <button type="submit" class="remover" name="button">
                                                    <i class="material-icons">delete</i>
                                                </button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="row center">
                    @form(action = routes.TarefasController.adicionar()) {
                        <div class="input-field col s6">
                            <input type="text" name="descricao" autofocus id="descricao" placeholder="Digite uma tarefa para adicinar" value="">
                            <label for="descricao">Descrição da tarefa</label>
                        </div>
                        <div class="input-field col s3">
                            <button type="submit" class="btn-floating btn waves-effect waves-light red" name="button">
                                <i class="material-icons right">add</i>
                            </button>
                        </div>
                        <div class="input-field col s3">
                            <span class="" style="font-size: x-large;">
                                Pendentes:
                                <span class="">
                                    @tarefas.size()
                                </span>
                            </span>
                        </div>
                    }
                </div>
            }
        </div>
    </body>
</html>
<script src="@routes.Assets.at("/public/javascripts", "jquery-2.1.1.min.js")"></script>
<script src="@routes.Assets.at("/public/javascripts", "materialize.js")"></script>
<script src="@routes.Assets.at("/public/javascripts", "main.js")"></script>
