@(tarefas: List[Tarefas])
@import helper._

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/assets/stylesheets/materialize.css">

        <title></title>
    </head>
    <body>
        <div class="container">
            @main("Tarefas"){
                <div class="row">
                    <h1>Tarefas: @tarefas.size()</h1>
                </div>
                <div class="row">
                    <ul class="collection">
                        @if(tarefas.isEmpty()){
                            <li class="collection-item">
                                <span class="flow-text">Nenhuma Tarefa</span>
                            </li>
                        }
                        @for(item <- tarefas){
                            <li class="collection-item">
                                <span class="" style="display: none;">@item.getId</span>
                                <span class="flow-text">@item.getDescricao</span>
                                @form(routes.TarefasController.remover(item.getId)) {
                                    <div class="secondary-content">
                                        <button type="submit" class="" name="button">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </div>
                                }
                            </li>
                        }
                    </ul>
                </div>
                <div class="row center">
                    @form(action = routes.TarefasController.adicionar()) {
                        <div class="input-field col s6">
                            <input type="text" name="descricao" autofocus id="descricao" placeholder="Digite uma tarefa para adicinar" value="">
                            <label for="descricao">Descrição da tarefa</label>
                        </div>
                        <div class="input-field col s6">
                            <button type="submit" class="btn-floating btn-large waves-effect waves-light red" name="button">
                                <i class="material-icons right">add</i>
                            </button>
                        </div>
                    }
                </div>
            }
        </div>
    </body>
</html>
<script src="@routes.Assets.at("/public/javascripts", "jquery-2.1.1.min.js")"></script>
<script src="@routes.Assets.at("/public/javascripts", "materialize.js")"></script>
